.home {
    &__container {
        min-height: 100vh;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100vh;
    }

    &__heading {
        font-weight: 600;
        font-size: 96px;
        line-height: 131px;
        max-width: 800px;
    }

    &__image {
        width: 520px;
        height: 671px;
        border-radius: 10px;
        background: url(../source/home.png);
    }
}
